{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <title>Net Admin</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Net Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Financeiro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cadastrar-plano">Criar Plano</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/listar-planos">Listar Planos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Atendimento
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cadastrar-cliente">Cadastrar Cliente</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/listar-clientes">Listar Clientes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-2 text-left">{% block frame_title %}{% endblock frame_title %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          {% block body %}{% endblock body %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
